# Git
.git
.gitignore

# Docker configuration
Dockerfile
Makefile
docker-compose.yml

# npm
node_modules
npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*

gun.min.js
guntest.html
test.js.vscode
.vscode